window {
  background-color: rgba(60, 60, 60, 0.8); // Fixes the base Eww window background
}

.host-box { color: #F2F2B6; }
.host-box { font-size: 64px; }

.oppe-box { color: #FFFFFF; }
.oppe-box { font-size: 24px }
.dato-box { color: #FFFFFF; }
.dato-box { font-size: 32px; }

.temp-box { color: #FFFFFF; }
.temp-box { font-size: 32px; }


.battery-box { color: #FFFFFF; }
.battery-box { font-size: 32px; }
.klokke-box { color: #FFFFFF; }
.klokke-box { font-size: 32px; }

.ram-box { color: #FFFFFF; }
.ram-box { font-size: 32px; }
.disk-box { color: #FFFFFF; }
.disk-box { font-size: 32px; }

.IP-box { color: #FFFFFF; }
.IP-box { font-size: 32px; }
.post-box { color: #FFFFFF; }
.post-box { font-size: 32px; }
