#
# ~/.aliases
#Alias for ls
alias ls='ls -h --color=auto --group-directories-first'
alias lal='ls -Al --color=auto -h --group-directories-first'
alias ll='ls -l --group-directories-first'
alias la='ls -A --group-directories-first'
alias lst='ls -ht --color=auto --group-directories-first'
alias lalt='ls -Alt --color=auto -h --group-directories-first'
alias llt='ls -lt --group-directories-first'
alias lat='ls -At --group-directories-first'
#Alias for exa - erstatning for ls
alias els='exa -1 --group-directories-first'
alias elal='exa -al --group-directories-first'
alias ell='exa -l --group-directories-first'
#Div. alias for å ha enkel skriving
alias cd..='cd ..'
alias cp='cp -i'
alias mv='mv -i'
alias rm='trash-put'
alias ping='ping -c 3'
alias mp='mocp'
alias pv='pulsemixer --color 2'
alias ncdu='ncdu --color dark'
alias sysinfo='sudo inxi -c 33 -v 7'
alias grep='grep --color=auto'
alias less='/usr/share/vim/vim90/macros/less.sh'
alias Journal='sudo journalctl -b -p 2'
alias b='buku --suggest'
alias radio='pyradio'
alias spotify='ncspot'
alias sway='XKB_DEFAULT_LAYOUT=no sway'
alias HentPost='mpop && offlineimap'
alias Post='~/Mail/Ellenors'
alias TS='TermStart'
#ssh
alias Bedehusgata28='ssh bedehusgata28.homelinux.net'
alias Bedehusgata30='ssh orsteen.dyndns-home.com'
alias Bedehusgata30X='ssh -X orsteen.dyndns-home.com'
alias Bedehusgata='ssh 192.168.10.100' 
alias BedehusgataX='ssh -X 192.168.10.100' 
alias Ellen='ssh ecco@192.168.10.101'
alias TV-PC='ssh TV-PC'
#pacman og pacaur
alias install='sudo pacman -S'           # Install specific package(s) from the repositories
alias remove='sudo pacman -Rns'        # Remove the specified package(s), its configuration(s) and unneeded dependencies
alias oppdater='sudo pacman -Syu && pikaur -Sua'
alias pkglist="pacman -Qq | fzf --preview 'pacman -Qil {}' --layout=reverse --bind 'enter:execute(pacman -Qil {} | less)'"
#systemctl
alias sysstart='sudo systemctl start'
alias sysstop='sudo systemctl stop'
alias sysenable='sudo systemctl enable'
alias sysdisable='sudo systemctl disable'
alias sysstatus='sudo systemctl status'
#tmux-kommandoer
alias Vtmux='tmux new-session -s Vim'
alias Ktmux='tmux new-session -s Kommando'
alias Otmux='tmux new-session -s Oppdat'
alias Stmux='bash StartTmux'
alias TAK='tmux attach-session -t Kommando'
alias TAO='tmux attach-session -t Oppdat'
alias TAV='tmux attach-session -t Vim'
#gcalcli-kommandoer
alias calNå='gcalcli agenda'
alias calUke='gcalcli calw --monday'
alias calMåned='gcalcli calm --monday'
alias calNeste='calMåned $(date --date "1 month" "+%Y%m%d")'
alias calNy="gcalcli add --calendar '63ecco@gmail.com'" 
#trash (fra terminal)
alias tp='trash-put'
alias te='trash-empty'
alias tl='trash-list'
alias tr='trash-restore'
alias dos2unix="sed -i -e 's/'\"\$(printf '\015')\"'//g' "
